<%- include('../header'); -%>
<script src="https://kit.fontawesome.com/8d376fc41c.js" crossorigin="anonymous"></script>
  
<!-- Main -->
<main id="main">
    <div class="section-title mt-5">
        <h2><%= q %></h2>
        <p>This are the organisation registered to us who might interested with your concern.</p>
      </div>
    <div class="container mb-5 border px-3">

        <div class="d-flex align-items-end flex-column" style="margin: 10px 20px;">
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select your filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/nonbiodegradable/cardboard?q=<%= q %>&category=location">Seller based on your location</a>
              <a class="dropdown-item" href="/nonbiodegradable/cardboard?q=<%= q %>&category=all">All Seller of this category</a>
            </div>
          </div>
        </div>
      
        <% if(category == 'location') {%>
        <div class="alert alert-info" role="alert" style="text-align: center;">
          Showing results based on your <b>location</b> for your search 
        </div>
        <% }else{ %>
          <div class="alert alert-info" role="alert" style="text-align: center;">
            Showing results of all items of this category
          </div>
        <% } %>

        <div class="card">
            <div class="card-body">
              <a href="/nonbiodegradable/upload"><button type="button" style="display: inline;" class="btn btn-success btn-lg">Upload to Sell</button></a>
                <p class="card-text" style="display: inline; padding-left: 10px;">Click the upload button to add your items to sell</p>
            </div>
          </div>
        
          <% items.forEach((item)=>{ %>
            <div class="card mb-3">
                <div class="row g-0">

                    <div class="col-md-4">
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <% item.image.forEach((img,i)=>{ %>
                          <div class="carousel-item <%= i === 0 ? 'active' : ' ' %>">
                            <img class="d-block w-100" src="<%= img.url %>" alt="...">
                          </div>
                          <% }) %> 
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Item - <%= item.name %></h5>
                            <h5>Price - <%= item.price %></h3>
                            <p>Seller - <%= item.author.username %></p>
                            <a href="/nonbiodegradable/item/<%= item._id %>"><button type="button" class="btn btn-success">view item</button></a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                         </div>
                    </div>
                </div>
            </div>
        <% }) %> 
        
    </div>
</main>


<!-- End Main -->
  

<%- include('../footer'); -%>